<link rel="stylesheet" href="/css/footer.css">
<footer class="footer">
    <div class="grid wide">
        <div class="row">
            <div class="col l-12 m-12 c-12">
                <div class="container">
                    <div class="content">
                        <div class="footer__logo">
                            <img src="/img/logo-removebg.png" alt="logo">
                             <p>A weather app that provides accurate and up-to-date weather information. Crafted with ❤️ by Tran Phuc Trong</p>
                    </div>
                        
                       
                        <div class="footer__contact">
                            <div class="copyright">
                                <p>DinoCast © Weather. All rights not reserved.</p>
                            </div>
                            <div class="contact__link">
                                <ul style="display: flex;justify-content:space-evenly">
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" > <i class="fa-brands fa-tiktok"></i></a>
                                    
                                </li>
                            </ul>
                            </div>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

